.container {
  background-image: url('./image/citadel.webp');
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
}



@media (min-width: 600px) and (max-width: 1024px) {
  .container { 
     width: 100vw;
  }
}